html, body {
  height: 100%;
  background: #f0f0f0;
  overflow: hidden;
}

.top-menu {
  background: #1a1a1a;
}

.outer-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 2em;
}

.chat-area {
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 1em;
  overflow-y: auto;
}

.chat-area {
  flex: 1;
  word-wrap: break-word;
}

.chat-area p {
    white-space: pre;
}
