<div class="connect-area" ng-show="!user.hasSetup">
    <form class="ink-form">
        <div class="control-group">
            <label>Nickname</label>
            <div class="control">
                <input type="text" placeholder="insert nickname" ng-model="nick">
            </div>
            <label>Channels</label>
            <div class="control">
                <input type="text" placeholder="ex. #nodejs, #inksapo" ng-model="channels">
            </div>
            <label>&nbsp;</label>
            <div class="control">
                <button class="ink-button blue" type="submit" ng-click="connect()">Connect</button>
            </div>
        </div>
    </form>

</div>
<div class="vertical-space"></div>
<div class="chat-area">
<pre>
 /$$    /$$
| $$   | $$
| $$   | $$ /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$
|  $$ / $$//$$__  $$ /$$__  $$ /$$__  $$ /$$_____/
 \  $$ $$/| $$$$$$$$| $$$$$$$$| $$  \__/| $$
  \  $$$/ | $$_____/| $$_____/| $$      | $$
   \  $/  |  $$$$$$$|  $$$$$$$| $$      |  $$$$$$$
    \_/    \_______/ \_______/|__/       \_______/
</pre>
<p ng-repeat="line in log">{{ line.args[2] }}</p>
</div>

<div class="text-bar">
    <form class="ink-form" ng-submit="send()">
        <div class="control-group">
            <div class="control vertical-space">
                <input type="text" placeholder="Say something ..." ng-model="message" ng-disabled="!user.hasSetup">
            </div>
        </div>
    </form>
</div>
